@media (prefers-color-scheme: dark) {
    input[type='radio'] {
        background-color: white;
        border: 2px solid #eef2f4;
        }
    input[type='radio']:checked {
    background-color: #67a8d1;
    }
    input[type='number'], select{
        background-color: white;
        color: black;
    }
    #close, #guideClose{ 
        background-color: white;
        color: #67a8d1;
    }
    select {
        background-color: white;
        border: 1px solid gray;
        color: black;
    }
    option {
        color: black;
        justify-content: center;
    }
    .soso{
        color: #bfdbf1;
    }
    .good{
        color: #f1d2ff;
    }
    .verry{
        color: yellow;
    }
    .limit {
        background: linear-gradient(to top, #e16ddd, #ffff66);
        color: transparent;
        -webkit-background-clip: text;
    }
    .limitBorder{
        padding: 3px;
        border: 2px solid transparent;
        background-clip: padding-box;
        background-image: linear-gradient(to right top, #e16ddd, #ffff66);
    }
    .reliqueList button {
        background-color: #67a8d1;
        color: #ffffff;
    }
    #cal{
        background-color: #b6d0eb;
        color: black;
    }
    #reset{
        background-color: #67a8d1;
        color: white;
    }
    .highlight{color: #67a8d1;}
    .goodBorder{border: 1px solid #f1d2ff;}
    .verryBorder1{border: 1px solid yellow;}
    .verryBorder2{border: 2px solid yellow;}
  }